extends layout 

block content
  .container
    h1= title
    if errors 
      ul 
        each error in errors 
          li.text-danger=error.msg
          
    form(method="POST", action="/articles/add")
      .mb-3
        label(for="title" class="form-label") Title
        input(type="text" name="title" id="title" class="form-control")
      .mb-3
        label(for="body" class="form-label") Body
        textarea(name="body" id="body" class="form-control" rows="5")
      .d-grid
        input(type="submit" value="Submit" class="btn btn-primary")
